*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor01: #090909;
    --cor02: #4b5043;
    --cor03: #D3FFE9;
    --cor04: #9BC4BC;
    --cor05: #8DDBE0;
}

.hidden{
    display: none !important;
}

.show{
    display: flex !important;
}

body{
    /* background-image:linear-gradient(45deg, var(--cor01), var(--cor02)); */
    background-color: var(--cor01);
    height: 100vh;
    width: 100vw;

    & .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        & .box-container{
            position: relative;
            background-color: transparent;
            border-radius: 5px;
            box-shadow: 2px 2px 20px var(--cor05);
            height: 300px;
            width: 800px;

            & .menu{
                display: flex;
                justify-content: space-around;
                align-items: center;
                list-style: none;

                & li{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 100%;
                    cursor: pointer;
                    
                    
                    & a{
                        color: var(--cor05);
                        font-size: 20px;
                        text-decoration: none;
                        text-transform: uppercase;
                        text-align: center;
                        width: 100%;
                    }

                    &:hover::after{
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 5px;
                        bottom: 0;
                        border-radius: 4px;
                        box-shadow: 1px 1px 0.5px var(--cor05);
                        animation: menu 0.2s linear;
                    }

                    
                }
            }



            /* Estilizando as box do numeros */

            & .box-time{
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 83%;

                & .box{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    text-align: center;
                    /* background-color: var(--cor02); */
                    box-shadow: 1px 1px 20px 1px var(--cor05);
                    border-radius: 50%;
                    color: var(--cor03);
                    width: 200px;
                    height: 200px;

                    & .text {
                        font-size: 20px;
                    }
                    & .time{
                        font-size: 60px;
                    }
                }
            }
        }
        

        /* Estilizando a parte do cronometro */

        & .time-cro{
            display: flex;
            justify-content: center;
            align-items: center;

            & .stopwatch{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: var(--cor05);
                width: 600px;
                height: 200px;
                border-radius: 10px;
                /* box-shadow: 1px 1px 20px 1px var(--cor05); */

                & .time-stop{
                    font-size: 80px;
                    margin: 20px 0;
                }

                & .btn {
                    width: 90px;
                    height: 40px;
                    cursor: pointer;
                    border: none;
                    margin: 0 5px;
                    border-radius: 5px;
                    &:hover{
                        background-color: var(--cor02);
                        color: var(--cor05);
                    }
                }
            }
        }
    }
}

@keyframes menu {
    0% {
        width: 5%;
        height: 0px;
        left: 0;
    }

    50% {
        width: 50%;
        height: 0px;
        left: 0;
    }

    100%{
        width: 100%;
        left: 0;
    }
}



